* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    h1, h2 {
        margin: 0;
        flex: 1;
        text-align: center;
    }
}

h1, h2 {
    font-size: 1.8em;
    color: #666;
    margin: 10px 0;
}

#final-category, #final-question, #betting-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#betting-form {
    text-align: center;
}

#betting-form button, .restart-game-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
}

#betting-form button:hover, .restart-game-button:hover {
    background-color: #95ff00;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #ccc;
    color: #000;
}

footer p {
    margin: 0;
}

.audio-player-container {
    text-align: center;
    margin-top: 20px;
}

#scoreboard {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 20px auto;
    flex-wrap: wrap;
}

#scoreboard .score {
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

@media (max-width: 767px) {
    #final-category, #final-question, #betting-form {
        width: 90%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-container button, .restart-game-button {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (device-width: 360px) and (device-height: 740px) {
    #final-category, #final-question, #betting-form, .audio-player-container {
        width: 100%;
        padding: 5px;
        margin-bottom: 40px; 
    }

    input[type="text"], input[type="number"], textarea, #betting-form button, .restart-game-button {
        font-size: 42px;
        padding: 20px; 
        margin-bottom: 40px; 
    }

    #scoreboard .score {
        font-size: 42px;
        margin-bottom: 40px; 
    }

    .button-container button, #betting-form button, .restart-game-button {
        padding: 15px 30px;
        margin: 20px 0;
    }

    footer {
        margin-top: auto; 
        padding: 40px; 
    }
}
