* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.game-image {
    width: 85%;
    height: auto;
    max-height: 80%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.play-button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
    background-color: #007bff;
    color: #FFD700;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.play-button:hover {
    background-color: #0056b3;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #ccc;
    color: #000;
}

footer p {
    margin: 0;
}

@media (max-width: 767px) {
    .game-image {
        max-width: 85%;
        margin-bottom: 10px;
    }

    footer {
        position: static;
        padding: 10px;
    }
}
