/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 30px;
}

#jeopardy-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 10px;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
}

.category {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
}

.points {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#player-interaction {
    text-align: center;
    margin: 20px 0;
}

#player-interaction input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

#player-interaction button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#player-interaction button:hover {
    background-color: #333;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px auto;
}

#scoreboard .score {
    font-size: 18px;
}

.next-round-button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-round-button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #ccc;
    color: #000;
}

footer p {
    margin: 0;
}
.footer-button {
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    display: inline-block; /* Makes it possible to set padding and margin */
    text-decoration: none; /* Removes the underline from the link */
    color: #000;
    cursor: pointer;
}

.footer-button:hover {
    background-color: #e0e0e0;
}
